name: Deploy Harmonix Web with SST

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 # Modify this based on your deployment region

      - name: Create .env file
        run: |
          PARAM_NAME="/harmonix-web/production_env"

          parameter=$(aws ssm get-parameter --name "$PARAM_NAME" --with-decryption --query "Parameter.Value" --output text)
          echo "$parameter" >> .env

      - name: Set SST Secret
        run: npx sst secret set DomainCert="${{ secrets.DOMAIN_CERT }}"

      - name: First deploy attempt
        id: deploy
        run: |
          set +e
          npx sst deploy
          echo "exit_code=$?" >> $GITHUB_OUTPUT
          set -e

      - name: Fix Pulumi mismatch (if needed)
        if: steps.deploy.outputs.exit_code != '0'
        run: |
          cd .sst/platform
          npm dedupe
          cd ../..

      - name: Retry deploy (after dedupe)
        if: steps.deploy.outputs.exit_code != '0'
        run: npx sst deploy
